@charset "UTF-8";


/*共通部分
--------------------------------*/
html {
    font-size: 100%;
}


/*HEADER
---------------------------------*/
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/*HOME
---------------------------------*/
.home-content{
    text-align: center;
    margin-top: 10%;
}


/*モバイル版
-------------------------------------------------*/
@media(max-width:600px) {

}